.container{
    position: relative;
}

.container,
#michi{
    width: 800px;
}
#estambre{
    position: absolute;
    width: 200px;
}

#estambre:hover{
    position: absolute;
    transform: rotate(3deg) translateY(150px) translateX(450px);    
}