body {   /*Se quitan los estilos que vienen por defecto (solo los que se cambian)*/
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.cards{  
    display: flex; /*Se le coloca en celda para su organizacion*/
    width: 100%; /*Se define el ancho*/
    padding: 50px; /*Se establece un espacio entre el contenido y su borde*/
}

.cards .card {
    background: rgb(0,144,255); /*Color de fondo*/
    color: white; /*color del texto*/
    width: 300px; /*ancho*/
    height: 350px; /*alto*/
    border-radius: 10px; /* Se redondean los bordes*/
    padding: 30px; /*espacio entre el contenido y su borde*/
    box-sizing: border-box; /*Evita que nuestro contenedor se rompa*/
    position: relative; /*Permite posicionar elementos en relación a su posicion normal*/
    display: flex; /*Se colocan en celdas para su organización*/
    flex-direction: column; /*coloca los elementos en forma vartical*/
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.4), -4px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.1) ; /*crea una sombra */
    transition: all 0.3s ease; /*permite animar los cambios de propiedades*/
}

.cards .card a {
    color: yellow; /* color del texto */
    text-decoration: none; /* para dar formato al texto*/
    font-weight: bold; /*define el grosor o peso de una fuente*/
}

.cards .card a:hover{  /*Se utiliza para para que se active cuando el usuario pasa el cursor sobre el elemento */
    color: lightyellow;
}

.cards .card .header{
    flex: 1; /* Es para que un elemento flexible deba crecer para rellenar el espacio disponible*/
}

.cards .card:hover { 
    margin-right: 80px; /*aplica un margen*/
    transform: rotate(3deg) translateY(-15px); /* hace que nuestro elemento rote hacia algun lado*/
}

.cards .card .header .date {
    padding: 10px 0;
}

.cards .card .header .title {
    font-size: 20px;
}

.cards .card .footer .autor a{
    display: flex;
    align-items: center; /*alinea lis items al centro*/
    gap: 10px
}

.cards .card .footer img {
    width: 100px;
    border-radius: 40%;
}

.cards .card[class*="element"] {
    margin-left: -100px;
}

.element-1:hover {
    margin-left: -130px;
}